{% extends 'base.html' %}

{% block title %}Sign-up{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="/static/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center">Sign-up</h1>
    <form method="post" action="/login">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" required>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" maxlength="11" minlength="10" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
        </div>      
        <div class="form-group">
            <label for="repassword">password</label>
            <input type="repassword" class="form-control" id="repassword" name="repassword" placeholder="Enter Your Phone Number" required>
        </div>    
             
        <div class="form-group">
            <label for="password">Re-enter_Password</label>
            <input type="password" class="form-control" id="Password" name="password" placeholder="Enter Your Password" required>
        </div> 

        <form action="/signup">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </form>

</div>

{% endblock body %}